@charset "UTF-8";

body{
margin: 0 auto;
font-family: Helvetica;
}
header {
    background-color: #2c3e50;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-img{
    margin-right: 15px;
}
.logo-title{
    color: white;
    font-size: 42px;
    font-weight: bold ;
}
.hor-menu ul li{
	font-size: 18px;
    list-style-type: none;
    float: left;
    padding: 15px 0px;
    color: #fff;
}

.hor-menu ul li a {
    color: #6F8CA7;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition:all 0.5s;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
}
.content {
    max-width: 860px;
    min-width: 360px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;

}
.content img {
    float: left;
    width: 30%;
    border: 10px solid #DAE7EC;
    margin-right: 40px;
    margin-top: 15px;
    line-height: 1px;
}
.content h1 {
	font-size: 13px;
	opacity: .3;
}
.content h2{
    font-size: 100%;
    color: #2c3e50;
}
.content aside{
    font-size: 75%;
    color: #9c9c9c;
}
.content .texts {
    float: left;
}
.hor-menu ul li a:hover {
opacity: 1;
background: #2F4F4F;
transition:all 0.5s;
color: white;
}
footer {
	background-color: #3b3b3b;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #3b3b3b;
	color: #FFFFFF;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}